Q1. How do you comment code in Python? What are the different types of comments?

 * we can comment code in python by using '#' symbol.
 
 Types of comments:
 i. Single line comment
 eg:

In [1]:
#My Name is Sandeep Meher.

ii. Multiple line comment
* Here we use """......""" for comment out.
eg:

   """ input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #faf9f6;
    border-radius: 5px; """

Q2. What are variables in Python? How do you declare and assign values to variables?

 Variables in python are used to store data. 
 It Holds values of various types such as integer, float, string, boolean, lists, tuples, dictionaries,etc. 
 
 Declaration and assign values:
 variable_name = value
 eg: name="sandeep"

Q3. How do you convert one data type to another in Python?

In [2]:
#eg:
a="100"
b=int(a)
b

100

In [3]:
type(a)

str

In [4]:
type(b)

int

In [5]:
#eg:
c="3.14"
d=float(c)
d

3.14

In [6]:
#eg:
l=[1,2,3,4,5]
t=tuple(l)
t

(1, 2, 3, 4, 5)

Q4. How do you write and execute a Python script from the command line?

i.Open text editor
ii.write python script and save it.
iii. open command line
iv.Navogate to script directory
v. Run python script

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [7]:
a=[1,2,3,4,5]
print(a[1:3])

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

complex numbers in mathematics are made up of real numbers and imaginary numbers.
eg: complex_number = a+bj.
where a and b are real numbers and j is the imaginary number.

In [8]:
a1=2+4j
a2=3+6j
a3=a1+a2
a3

(5+10j)

In [9]:
#or
a4=complex(2,3)
a4

(2+3j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [10]:
age=25
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [11]:
price=9.99
type(price)

float

In [12]:
#hence, price belong to float data type.

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [13]:
name="Sandeep Meher"
print(name)

Sandeep Meher

Q10. Given the string "Hello, World!", extract the substring "World".

In [14]:
p="Hello, World!"
a=p[7:12]
a

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [17]:
is_student=True

type(is_student)

bool

In [18]:
is_student=False
type(is_student)

bool