Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: A database is a structured collection of data organized for efficient storage, retrieval, and management, typically using tables and relationships, essential for applications to store and access information.

Difference between SQL and NoSQL database are: 
#SQL databases are relational, use fixed schemas, employ SQL for queries, and are ACID-compliant, ideal for structured data
#NoSQL databases vary in data models, often have flexible schemas, use diverse query languages, offer different consistency models, and are best suited for dynamic, unstructured data and scalable, distributed applications.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL stands for Data Definition Language, which is a subset of SQL used to define, modify, and manage the structure of a database.

i. CREATE: The CREATE command is used to create new database objects, such as tables, indexes, views, or schemas. It specifies the structure of the object, including the column names and data types.

example:
    CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50)
    );

ii. DROP: It is used to delete existing database objects, such as tables, indexes, or views, along with all associated data.

example: DROP TABLE Employees;

iii. ALTER: The ALTER command is used to modify the structure of an existing database object, such as adding, modifying, or deleting columns in a table.

example: 

ALTER TABLE Employees

ADD Email VARCHAR(100);

iv. TRUNCATE: The TRUNCATE command is used to remove all rows from a table while keeping the table structure intact. It's faster and more efficient than the DELETE statement when you want to delete all records from a table.

example: TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL used to interact with and manipulate data stored in a database.

*INSERT: The INSERT command is used to add new records (rows) into a database table. You specify the values for each column in the table for the new row.

eg: INSERT INTO Employees (EmployeeID, FirstName, LastName, Department)

VALUES (101, 'John', 'Dog', 'HR');

*UPDATE: The UPDATE command is used to modify existing data in a database table. You specify the table to update, the columns to change, and the new values for those columns.

eg: UPDATE Employees

SET Department = 'Finance'

WHERE EmployeeID = 101;

*DELETE: The DELETE command is used to remove rows from a database table based on a specified condition. It allows you to selectively delete data.

eg: DELETE FROM Employees

WHERE EmployeeID = 101;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL used for querying and retrieving data from a database.

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify which columns you want to retrieve and can include filtering and sorting criteria to tailor the results.

example: 
SELECT Name, Age

FROM Students

WHERE Department = 'Data Science';

Q5. Explain Primary Key and Foreign Key.

*A Primary Key is a column or a set of columns in a database table that uniquely identifies each row in that table. It ensures that each record has a unique identifier.

*A Foreign Key is a column or a set of columns in one table that establishes a link or relationship between that table and another table's Primary Key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [12]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/conda/lib/python3.10/site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (4.21.11)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("hii ")
for i in mycursor.fetchall() : 
    print(i)
mydb.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM
2. JOIN
3. WHERE
4. GROUP BY
5. HAVING 
6. SELECT
7. ORDER BY
8. LIMIT/OFFSET